{% extends "base.html" %}
{% block title %}EdHub {{ title }}{% endblock %}
{% block sidebar %}
    {% include 'admin/_sidebar.html' %}
{% endblock %}

{% block main_content %}
<div class="card">
    <div class="card-header">
        <h4 class="bi bi-plus-lg"> {{ title }}</h4>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {{ form.hidden_tag() }} {# This includes the CSRF token #}
            <input type="hidden" name="page" value="{{ page or 1 }}">
            
            <div class="row g-3">
                <div class="col-md-8">
                    <div class="mb-3">
                        {{ form.name.label(class="form-label fw-bold") }}
                        {{ form.name(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.subject_code.label(class="form-label fw-bold") }}
                        {{ form.subject_code(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.credit.label(class="form-label fw-bold") }}
                        {{ form.credit(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.subject_group.label(class="form-label fw-bold") }}
                        {{ form.subject_group(class="form-select") }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.subject_type.label(class="form-label fw-bold") }}
                        {{ form.subject_type(class="form-select") }}
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-end">
                <a href="{{ url_for('admin.list_subjects') }}" class="btn btn-secondary me-2">ยกเลิก</a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save-fill me-2"></i>บันทึกการเปลี่ยนแปลง
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}