{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h1 class="h3 text-center">สำหรับนักเรียน</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                {{ form.student_id(class="form-control", placeholder="รหัสนักเรียน") }}
                {{ form.student_id.label }}
            </div>
            <div class="form-floating mb-3">
                {{ form.password(class="form-control", placeholder="รหัสผ่าน") }}
                {{ form.password.label }}
            </div>
            <div class="mb-3">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
            <p>{{ form.submit(class="w-100 btn btn-lg btn-info") }}</p>
        </form>
    </div>
</div>
{% endblock %}